<footer>
    <p>Copy right © 2024 GBC</p>
    <div class="social-icons">
        <a href="#"><img src="/instagram_icon.jpg" class="social-icon" alt=""></a>
        <a href="#"><img src="/twitter_icon.jpg" class="social-icon" alt=""></a>
        <a href="#"><img src="/facebook_icon.jpg" class="social-icon" alt=""></a>    
    </div>
</footer>