
<header>
    <img class="logo" src="/cutlery.png" alt="">
    <p id="head-title">Flavor Town</p>
    <nav>
        <ul class="nav-ul">
            <li><a class="nav-link-a" href="/">Home</a></li>
            <li><a class="nav-link-a" href="/restaurant/placeOrder">Place Order</a></li>
            <li><a class="nav-link-a" href="/restaurant/orderStatus">Check Status</a></li>
            <li><a class="nav-link-a" href="/">Sign In</a></li>
        </ul>
    </nav>    
</header>
