<div class="menuItem">
    <img class="menu-item-img" src="<%= menuItem.image %>" alt="">
    <h3 class="menu-item-title"><%= menuItem.name %></h3>
    <p class="menu-item-description"><%= menuItem.description %></p>
    <p class="menu-item-price">$<%= menuItem.price %></p>
    <a class="place-order-a" href="/restaurant/placeOrder">Place Order</a>
</div>

