*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude Firebase config file
google-services.json

# Exclude build files and logs
/build/
/app/build/
*.log

# Exclude IDE configuration files (Android Studio)
.idea/
*.iml
